<html>
    <head>
        <title>
            Weather App
        </title>
        <link rel="stylesheet" href="public/style.css">
    </head>
<body>
    <h1>
        The Temperature in <%= City %> is <%= Temp%>
    </h1>
</body>
</html>